.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --decor-color: #000028;
  --header-title-color: #db00ff;
  --button-color: #ff0070;
  --text-color: #f1b2ce;
  --button-hover-color: rgba(255, 0, 112, 0.5);
  --bg-color: #000028;
}

