.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  height: 100vh;
  min-block-size: 668px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 0 auto;
  margin-block-end: 40px;
  max-inline-size: 1024px;
}

.rec {
  color: var(--rec-color);
}

.rec::before {
  content: "REC";
  position: absolute;
  top: 20px;
  right: 48px;
}

.rec::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  color: var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  color: var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.title {
  color: var(--header-title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent-color);
}

.header__title {
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
}

.header__description {
  grid-row: 3/4;
  place-self: end;
  margin-inline-end: 20px;
  margin-block-end: 134px;
  font-weight: 700;
  max-inline-size: 491px;
}

.header__theme-menu {
  grid-row: 1/2;
  justify-self: center;
  padding-block-start: 20px;
}

button {
  border: none;
  color: var(--button-color);
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

button:hover {
  outline: 1px solid var(--button-hover-color);
  color: var(--button-color);
}

button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: 1px solid transparent;
  color: var(--button-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active) {
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  margin: 0 auto;
  margin-block-end: 40px;
  padding: 20px;
  max-inline-size: 1024px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--article-gap);
}

.card__title {
  color: var(--accent-color);
  font-size: 18px;
  max-inline-size: 315px;
}

.card.title-up {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landscape-content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
}

.content__title {
  font-size: 18px;
}

.content__description {
  color: var(--text-color);
}

.title-light-weight {
  font-weight: 400;
}

.card:not(.title-up) {
  display: grid;
  grid-template-columns: 34% 66%;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image:nth-child(1) {
  grid-area: 1 / 3 / 1 / 1;
}

.card__image:nth-child(2) {
  grid-area: 3 / 4 / 1 / 3;
}

.card__image:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.card__image:nth-child(4) {
  grid-area: 2 / 2 / 2 / 3;
}

.card__image:nth-child(5) {
  grid-column: 2 / 4;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-inline: 13px;
  max-inline-size: 1024px;
}

@media (width <= 768px) {

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-bottom: 40px;
    padding-inline-end: 20px;
    padding-block-start: 60px;
  }

  .header__description {
    margin-block-start: 20px;
    margin-block-end: 182px;
    max-inline-size: 364px;
  }

  .card__title {
    max-inline-size: 236px;
  }

  .landscape-content {
    display: flex;
    flex-direction: column;
  }

  .card:not(.title-up) {
    display: grid;
    grid-template-columns: 35% 65%;
  }
}

@media (width <= 375px) {
  
  :root {
    --section-gap: 50px;
  }

  .header {
    margin-block-end: 30px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .rec::before {
    top: 12px;
    right: 38px;
  }

  .rec::after {
    top: 18px;
    right: 19px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    padding-inline-end: 10px;
    padding-block-start: 48px;
  }

  .header__title {
    padding-inline-start: 10px;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    margin-inline-end: 10px;
    margin-block-end: 66px;
    max-inline-size: 355px;
  }

  .content {
    margin-block-end: 30px;
    padding: 10px;
  }

  .card:not(.title-up) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card__title {
    max-inline-size: 355px;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  div:last-of-type.card__content {
    gap: 10px;
  }
}
