/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* checklist */ 

.header,
.footer { 
  min-height: 668px;
  height: 100vh;
}

/* header start */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px 10px 10px 10px;
  margin-block-end: 40px;
}

.header__title {
  text-shadow: 4px 4px var(--accent-color);
  color: var(--header-title-color);
}

/* nav menu start */

button {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: 1px solid var(--button-color);
  color: var(--button-color);
}

button:hover {
  outline: 1px solid var(--button-hover-color);
  color: var(--button-color);
}

button:focus-visible {
  outline: 1px solid transparent;
  border-block-end: 1px solid var(--button-color);
  color: var(--button-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active) {
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

/* nav menu end */

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.decorated-zone {
  min-height: 668px;
  position: relative;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
}

@media ( width <= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media ( width > 375px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* header end */