/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-dark.png");
  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --header-font-weight: 700;
  --line-height: 130%;
  --section-gap: 80px;
  --article-gap: 20px;
  --block-gap: 60px;
  --font-weight: 400;

  --bg-color: ##000028;
  --accent-color: #ff0070;
  --decor-color: #000028;
  --header-title-color: #db00ff;
  --button-color: #ff0070;
  --text-color: #f1b2ce;
  --button-hover-color: rgba(255, 0, 112, 0.5);
  --bg-color: #000028;
  --rec-color: #ff0070;
}